<div class="parent-container">
    <h1>Assignment-3</h1>
    <h2>Task-1</h2>
    <p>Parent inputs data, child validates, adjusts content.</p>
    <input type="text" id="name" name="name" placeholder="Enter name" #name>
    <!-- <input type="text" id="usn" name="usn" placeholder="Enter USN" #usn> -->
    <button (click) = ValueSend(name.value)>Enter</button>
    <app-child [data1]="str"></app-child>
    <!-- <app-child [data2]="str"></app-child> -->
   
    <h2>Task-2</h2>
    <p>Parent passes font size to child, adjusted with a custom directive</p>
    <input type="text" id="font-size" name="font-size" placeholder="Enter font size" #fontSize>
    <button (click) = fontSizeSend(fontSize.value)>Enter</button>
    <app-child-front [size]="size"></app-child-front>
    </div>